
.body{
    background-color: purple;
    height: 100vh;
}

.container{
    position: absolute;
    width: 40%;
    top: 50%;
    left: 50%;
    padding: 30px 40px;
    transform: translate(-50%,-50%);
    background-color: white;
    border-radius: 7px;
}

.newtask{
    background-color: white;
    padding: 25px 25px;
    border-radius: 5px;
}

.newtask input{
    position: relative;
    padding: 10px 10px;
    width: 70%;
    font-size: 15px;
    border: 2px solid gray;
    font-size: 18px;
}

.newtask button{
    position: relative;
    float: right;
    padding: 10px 15px;
    display: flex;
    justify-content: flex-end ;
    width: fit-content;
    border-radius: 5px;
    background-color: purple;
    color: white;
    font-size: 17px;

}



.task{
    height: 50px;
    /* width: 70%; */
    background-color: white;
    padding: 5px 10px;
    display: flex;
	font-size: 20px;
	font-weight: 500;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid gray;
    /* margin-bottom: 3px; */
}

.task span{
    font-size: 20px;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
}

.add_item{
	font-size: 20px;
}

.del{
    height: 100%;
    width: 40px;
    border-radius: 5px;
	margin-right: 27px;
	background-color: purple;
	/* color: white; */
	color:  white;
}